.container {
    display: flex;
    width: 800px;
    margin: auto;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}

.column {
    flex-grow: 1;
    margin: 0px 8px;
}

.people-names {
    width: 100%;
    height: 300px;
}

.btn {
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

.groups-container {
    flex-wrap: wrap;
}

.group-card {
    display: flex;
    flex-direction: column;
    width: 32%;
    padding: 16px;
    margin: 4px;
    border: black solid 1px;
    border-radius: 8px;
}

.person {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

.person.male {
    background-color: #6bffff;
}

.person.female {
    background-color: #ffa8cf;
}

.config-selector {
    display: block;
    width: 100%;
    direction: rtl;
}