.people-names {
  height: 300px;
  width: 280px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 11pt;
}

.CodeMirror {
  .CodeMirror-linebackground.g-m {
    background-color: #cbffff;
  }

  .CodeMirror-linebackground.g-w {
    background-color: #ffe0ee;
  }
}
