.container {
  display: flex;
  width: 800px;
  margin: auto;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.column {
  flex-grow: 1;
  margin: 0px 8px;
}