.person {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0px 8px;
  margin: 2px 0px;
  border-radius: 5px;

  &[data-gender="male"] {
    background-color: #6bffff;
  }

  &[data-gender="female"] {
    background-color: #ffa8cf;
  }
}